<div class="h_layout">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        Category
                    </h3>

                    {{#each solarsystems}}
                    <p class="category-item">
                        <a href="#" class="category-item__link">{{this.name}}</a>
                    </p>
                    {{/each}}
                </nav>
            </div>

            <div class="grid__column-10">
                <div class="grid__row">
                    {{#each solarsystems}}
                    <div class="grid__column-3_10">
                        <a href="/solarSystem/{{this.slug}}" class="h-product-item">
                            <div class="h-product-item__img"
                                    style=" background-image:
                                    url({{this.image}})">
                                <div class="h-product-item__info">
                                    <div class="h-product-item__origin">
                                        <p class="h-product-item__name">{{this.description}}</p>
                                    </div>
                                    <p class="h-product-item__brand">{{this.name}}</p>
                                    {{!-- <p>{{this.createdAt}}</p> --}}
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
